* {
  padding: 0;
  margin: 0;
}

body {
}

.navbar,
.nav,
a {
  background-color: #1f2937;
  color: white;
  text-decoration: none;
  list-style: none;
}
ul {
  display: flex;
  gap: 15px;
}

.navbar .container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
